* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

nav {
	background-color: rgb(73, 1, 73);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	min-width: 1100px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	padding: 15px 15px;
	text-decoration: none;
	color:#FFF;
	font-size: 1rem;
}

nav ul li a:hover{
	background-color: #F0F;
}

nav form {
	display: block;
	height: 100%;
}
nav form input{
	height: 100%;
	margin: 0;
	font-size: 1rem;
	padding: 9px;
	border: none;
	background-color: #F0F;
	width: 10rem;
	transition: width 200ms ease-in-out;
}

nav form input:focus{
	outline: none;
	width: 15rem;
}

nav form button{
	height: 38px;
	border: none;
	background-color: rgb(124, 0, 124);
	font-size: 1rem;
	color: white;
	padding: 0 20px;
}